<link href= "/public/assets/sheet.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="center">
  <div class="titleLogged">Hello, <%= name %></div>
  <br>
  <span style="font-size: 2em; color: #525252">by Raayaan Sahu</span>
  <form action="/logout?_method=DELETE" method="POST">
    <br>
    <button type="submit">Log Out</button>
  </form>
</div>